.jQQT_movie_container {
	margin: 0 auto;
}

.jQQT_install {
	color: red;
	border: 1px solid #c0c0c0;
	width: 200px;
	margin: 0 auto;
}

.jQQT_controller {
	position: relative;
	margin-top: 6px;
}

.jQQT_button {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.jQQT_play {
	background: url(../images/controls.jpg) no-repeat 0 0;
}

.jQQT_pause {
	background: url(../images/controls.jpg) no-repeat 0 -10px;
}

.jQQT_playbar {
	position: absolute;
	left: 15px;
	height: 9px;
	top: 1px;
}

.jQQT_track_bg {
	height: 9px;
	width: 100%;
	background: #e7e7e7;
	position: absolute;
}

.jQQT_track_loaded {
	height: 9px;
	width: 1px;
	background: #c7c7c7;
	position: absolute;

}

.jQQT_play_head {
	cursor: pointer;
	width: 5px;
	height: 100%;
	background: #999;
	position: absolute;
	z-index: 1;
}

.jQQT_err {
	color: #ff0000;
}